  /*
    	***** This code/Page has been written by Phillip Heels
    	***** Whom, holds all the rights to this file.
    	***** None of code OR content can be used without his/her permission.
    	**** -- Unless: For open source purposes. 
    
    
    */
.grid_1 {
 position:absolute;
 margin-top: 10px;
 height:100px;
 width:600px;
}




